[Desktop Entry]
Type=Application
Version=0.1
Name=Rot13
Comment=GTK3 rot13 encoder/decoder
Path=/usr/bin
Exec=rot13-gtk
Icon=object-rotate-left
Terminal=false
Categories=Utility
